<div class="left"> 

<h2><a>The Week</a></h2>
<table > 
	<tr>
		<td>Hours</td><td ng-repeat="week in weeks"> | {{week}}</td>
	</tr>
	<tr ng-repeat="hid in hoursInDay">
		<td>{{hid[0]}}</td><td ng-repeat="week in hid[1]">
			<select selected="week" ng-model="week"> 
				<option selected  value="false">free</option> 
				<option value="true">busy</option>
			</select>
		</td>
	</tr>
</table>
<input type="text" ng-model="useToBe" required>
<p>
{{value}}
</p>
<button  ng-input="useToBe" ng-click="formSubmit(useToBe)">Submit</button>
</div>